.auth-card {
  width: 95%;
  max-width: 450px;
  margin: 5% auto 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;

  .auth-card-title {
    font-size: 20px;
  }

  .auth-card-content {
    padding: 10px 0 0;
  }
}

.sidebar-toggle{
  max-height: 50px;
}
.modal.fade.show{
      opacity: 1;
    }
	
.logo-lg{
	position: fixed;
}
.main-sidebar{
	position: fixed !important;
}
	
.slidebar-modifi{
 height: 100%;
}
.main-sidebar{
	height:130% !important!important!important!important!important!important!important!important!important!important!important!important;
}
.table {

  .table-header {
    width: 100%;

    .table-header-item {
      float: left;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }
  }

  .table-line {
    width: 100%;

    .table-item {
      float: left;
      border: 1px solid black;
      text-align: center;
      padding: 10px;
    }
  }
}

.active-link {
  color: black !important;
}

.validate-error {
  color : red;
}
.description-area{
  width : 100%;
}

.custom-dropdown-value {
  border: 1px solid black;
  padding: 3px 2px;
}

.custom-dropdown-options {
  border: 1px solid black;
  padding: 3px 2px;

  .custom-dropdown-option {
    padding: 3px 0;

	  &.sub-item {
		  padding-left: 10px;
	  }

	  &.disabled {
		  color: grey;
	  }
  }
}